/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  height: 60px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navs {
  margin: 0 auto;
}

.navs li {
  display: inline;
  font-size: 16px;
  font-family: 'Noto Sans CJK TC';
  font-weight: 400;
  margin-right: 79px;
}

.navs a {
  color: #617673;
  text-decoration: none;
  line-height: 24px;
  padding-bottom: 4px;
}

.navs a:hover {
  color: rgba(97, 118, 115, 0.8);
}

.navs .now {
  border-bottom: 3px solid #617673;
}

.infomation-bar {
  position: relative;
  background-color: #c2e8e3;
  height: 40px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infomation-bar p {
  font-size: 16px;
  font-family: 'Noto Sans CJK TC';
  line-height: 24px;
  font-weight: 400;
  color: #617673;
  white-space: nowrap;
}

.info-plunker {
  position: absolute;
  -webkit-animation: marqee 30s linear infinite;
          animation: marqee 30s linear infinite;
}

@-webkit-keyframes marqee {
  0% {
    left: 100%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    left: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes marqee {
  0% {
    left: 100%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    left: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

body {
  background-color: #f3f3f3;
  font-family: 'Oriya MN';
}

.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

.main-title {
  font-size: 24px;
  color: #617673;
  line-height: 28px;
  font-weight: 700;
  margin-left: 40px;
}

.main-title .main-title-zhTW {
  font-size: 14px;
  font-weight: 400;
}

.container {
  font-family: 'Noto Sans CJK TC';
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 33px;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16 px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.area-select {
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 33px;
  padding-bottom: 33px;
  width: 416px;
  background-color: #617673;
  border-radius: 8px;
}

.sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 24px;
}

.sub-title span {
  margin-right: 8px;
}

.selectors {
  color: #fff;
}

.selectors li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

#mapid {
  width: 856px;
  margin-left: 24px;
  border-radius: 8px;
}

footer {
  height: 48px;
  width: 100%;
  background-color: #617673;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer h3 {
  color: #fff;
  font-family: 'Noto Sans CJK TC';
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #617673;
}

.select_list {
  position: relative;
}

.selector {
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
  margin-bottom: 16px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.selector:focus-visible {
  outline: none;
}

.selector:checked + .select_arrow1 {
  display: none;
}

.selector:checked + .select_arrow2 {
  display: none;
}

.select_arrow1 {
  position: absolute;
  right: 0;
  top: 0px;
  color: #fff;
}

.select_arrow2 {
  position: absolute;
  right: 0;
  bottom: 25px;
  color: #fff;
}

.bus_direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
}

.bus_direction li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 24px;
  background-color: transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  list-style-position: inside;
  color: #fff;
  margin: 0px 0px -1px -1px;
  cursor: pointer;
}

.bdrs_left {
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #fff;
}

.be_clicked {
  background-color: #fff !important;
  color: #617673 !important;
}

.bdrs_right {
  border-radius: 0px 8px 8px 0px;
  border: 1px solid #fff;
}

.price_search {
  margin-top: 12px;
  color: #fff;
  line-height: 24px;
}

.price_search:hover {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.time-table {
  width: 100%;
  text-align: left;
  color: #fff;
  margin-top: 12px;
  display: block;
  overflow: auto;
  border-collapse: collapse;
}

.time-table td {
  margin-bottom: 20px;
}

.time-table th {
  top: 0;
  z-index: 1;
  background-color: #617673;
  padding-bottom: 10px;
}

.w20 {
  width: 20%;
}

.w60 {
  width: 60%;
}

.place {
  color: #ffffff4d;
}

.df-aic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.df-aic span {
  font-size: 13px;
  margin-left: 8px;
}

.update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
  color: #fff;
}

/*-------------- MODAL --------------*/
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  font-family: 'Noto Sans CJK TC';
  font-size: 24px;
  line-height: 28px;
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  width: 856px;
  /* Could be more or less, depending on screen size */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-content {
  width: 50%;
  padding: 24px 32px 24px 32px;
}

.right-content {
  width: 50%;
  background-color: #99b8b4;
  padding: 24px 32px 24px 32px;
  color: #fff;
  line-height: 30px;
  font-size: 20px;
}

.right-content h5 {
  margin-bottom: 8px;
}

.right-content h4 {
  margin-bottom: 16px;
}

.right-content p {
  font-size: 16px;
  line-height: 24px;
}

/* The Close Button */
.close {
  color: transparent;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.start-station,
.end-station {
  margin-top: 16px;
  position: relative;
}

.start-station label,
.end-station label {
  font-size: 16px;
  line-height: 24px;
  display: block;
  margin-bottom: 8px;
}

.start-station .start-selector,
.start-station .end-selector,
.end-station .start-selector,
.end-station .end-selector {
  background-color: #fff;
  width: 100%;
  line-height: 24px;
  padding: 8px 12px 8px 12px;
  font-size: 16px;
  border: 1px solid #dfdfdf;
  cursor: pointer;
}

.start-station .start-selector:focus-visible,
.start-station .end-selector:focus-visible,
.end-station .start-selector:focus-visible,
.end-station .end-selector:focus-visible {
  outline: none;
}

.select_arrow3,
.select_arrow4 {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.change-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 16px;
  margin-top: 8px;
  color: #617673;
  cursor: pointer;
}

.change-direction span {
  margin-right: 9px;
}

.change-direction:hover {
  color: rgba(97, 118, 115, 0.8);
}

.price-search-title {
  margin-top: 72px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 25px;
}

.ticket-price {
  font-family: 'Noto Sans CJK TC';
}

.ticket-price li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin-bottom: 26px;
}

.ticket-price li span {
  font-size: 28px;
  line-height: 42px;
  margin-left: 16px;
  color: #617673;
}

.bus-seq-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 38vh;
  overflow-y: auto;
}

.bus-realtime {
  color: #fff;
  margin-top: 12px;
  line-height: 24px;
  overflow: auto;
}

.sequence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.w216 {
  width: 216px;
  margin-left: 38px;
}

.w32 {
  width: 32px;
}

.w64 {
  width: 64px;
}

.seq-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
}

.center {
  text-align: center;
}

.df-aic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
